*{
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.nav2{
  position: sticky;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.forml{
  border: 2px solid rgb(224, 224, 224);
  border-radius: 3px;
  padding: 10px;
  width: 320px;
  height: 380px;
}
.forms{
  position:relative;
  border: 2px solid rgb(224, 224, 224);
  border-radius: 3px;
  padding: 10px;
  width: 350px;
  height: 560px;
}
.formcont{
  margin-top: 4%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.inpcont{
  width: 30%
}
.hr{
  border: 1px solid rgb(32, 32, 32);
  width: 300px;
}
.glbtn{
  display: flex;
  justify-content: center;
}
.btn1{
  width: 297px;
}
.sheading{
  text-align: center;
  position: relative;
  margin-top: 8vh;
}
.lheading{
  text-align: center;
  position: relative;
  margin-top: 8vh;
}.cart-trolley{
  margin-left: 1.5vw;
  margin-top: .7vh;
  font-size: 2.3vh;
  color: white;
}
.cart-total{
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: rgb(55, 185, 55);
  font-size: 13px;
  text-decoration: none;
  padding-right: 2px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
.home{
  display: flex;
  justify-content:space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 4%;
}
.home1{
  padding: 10px;
}
.home1 img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
}
.services{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 5%;

}
.services1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 2px solid red; */
  background-color: rgb(239, 255, 243);
  border-radius: 10px;
  height: 22vh;
  margin: 2%;
  padding: 8px;
}
.services2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 2px solid green; */
  /* background-color: rgb(239, 255, 243); */
  border-radius: 10px;
  height: 22vh;
  margin: 2%;
}
.services21{
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid green; */
  background-color: rgb(239, 255, 243);
  border-radius: 10px;
  height: 10vh;
  width: 100%;
  margin-bottom: 1vh;
  padding: 8px;
}
.services22{
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid green; */
  background-color: rgb(239, 255, 243);
  border-radius: 10px;
  height: 10vh;
  width: 100%;
  margin-top: 1vh;
  padding: 8px;
}
.services3{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 2px solid green; */
  background-color: rgb(239, 255, 243);
  border-radius: 10px;
  height: 22vh;
  margin: 2%;
  padding: 8px;
}
.icon{
  font-size: 40px;
  background-color: white;
  padding: 4%;
  margin: 3px;
  color: rgb(8, 65, 8);
  border-radius: 50%;
}
.iconc{
  font-size: 1.5rem;
  margin: 5px;
}
.iconc:hover{
  cursor: pointer;
  font-size: 25px;
  /* background-color: rgb(194, 194, 194); */
}
.icontext{
  margin-top: 13px;
}
.trusted{
  margin-top: 6%;
  background-color: rgb(239, 255, 243);
  width: 100%;
  height: 13vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.trusted span{
  text-align: center;

}
.comp{
  margin-top: 2%;
   display: flex;
   justify-content:space-evenly;
   align-items: center;
   flex-wrap: wrap;
}
.imgc img{
  height: 50px;
  width: 50px;
}
.secfoot{
  width: 60%;
  margin-top: 20%;
  position: relative;
  z-index: 400;
}
.footbox{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 8%;
  flex-wrap: wrap;
  /* border: 2px solid green; */
  height: 10vh;
  border-radius: 10px;
  background-color: rgb(239, 255, 243);
}
footer{
  background-color: rgb(32, 32, 33);
  width: 100vw;
  margin-top: -40px;
}
.footitem{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  z-index: 2;
}
.foot{
    color: white;
    margin-top: 100px;
    margin-left: 2%;
    margin-right: 2%;
    width: 200px;
}
.hrf{
  color: white;
    margin-top: 5%;
    height: 2px;
    opacity: 1;
    margin-left: 4vw;
    width: 90vw
}
.footend{
  color:white;
}
.error{
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.featureprd{
  margin-top: 3%;
  background-color: rgb(239, 255, 243);
}
.fprdct{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.fcard{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2%;
}
.fprdct img{
  width: 220px;
  border-radius: 5px;
}
.featureimg:hover{
  transform: scale(1.03);
  transition: .2s;
  opacity: .9;
}
.fpbody{
  width: 95%;
  display: flex;
  color: black;
  flex-direction: column;
  margin-left: 2%;
}
.fcap{
  margin-left: 4%;
  color: black;
  font-weight: 550;
}
.flink{
  text-decoration: none;
}

/* singleproduct ----------*/

.sptitle{
  margin: 3% 0 0 3%;
  font-weight: 500;
  font-size: 2.5rem;
}
.singlepro{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   flex-wrap: wrap;
}
.spimg{
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  /* flex-wrap: wrap; */
  padding: 2%;
  margin-top: 10%;
}
.spimg1{
  width: 120px;
  border-radius: 5px;
  margin: 0 5px 0px 5px;
  cursor: pointer;
}
.spimg2{
  width: 250px;
  border-radius: 5px;
  margin: 0 5px 0px 5px;
}
.sprodata{
  display: flex;
  flex-direction: column;
  margin: 2%;
  padding: 2%;
  flex-wrap: wrap;
  max-width: 500px;
  /* border: 2px solid green; */
}
.spicon{
  font-size: 15px;
  color:rgb(13, 85, 13);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.spiconc{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}